---
- name: install apt dependencies for demo project 
  apt: name={{ item }} state=present
  with_items:
     - [build-essential, libssl-dev, libffi-dev, python-dev, python-pip]

- name: install uwsgi and cryptography
  pip: name={{ item }} state=present
  with_items:
     - [cryptography, flask, uwsgi]

- name: make directory flaskProj in /home/mani
  file: path=/home/mani/flaskProj state=directory 

- name: copy demo app files to flakProj location
  copy: src={{ item }} dest=/home/mani/flaskProj/ mode=0666 owner=www-data group=www-data
  with_items:
     - [demo.ini, demo.py, demo.sock]

- name: set user privilege in app folder
  file: path=/home/mani/flaskProj mode=0766 owner=www-data group=www-data recurse=yes

- name: copy systemd script for uwsgi to systemd service folder
  copy: src=uwsgi.service dest=/etc/systemd/system/ mode=0766
 
- name: start systemctl service uwsgi.service
  shell: "{{ item }}"
  with_items:
    - systemctl daemon-reload
    - systemctl enable uwsgi.service
    - systemctl start uwsgi.service 

- name: restart nginx
  shell: service nginx restart 
